*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
    font-size: 17px;
    padding: 7px;
}
.container{
  background-color: rgba(255, 255, 255, 0.726); 
  padding: 5px 20px 15px 20px;
  border: 1px solid black;
  border-radius: 4px;

}
input[type="text"],
input[type="text"],
input[type="text"],
input[type="text"],
input[type="text"],
select,
textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
}
.heading{
    text-align: center;
    font-style: italic;
   text-transform: uppercase;
   background-color: rgba(63, 78, 20, 0.082);
}
input[type="submit"]{
    background-color: orchid;
    color: brown;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: rgb(166, 160, 221);
}
select:hover{
    background-color: lightgreen;
    cursor: pointer;
    color: black;
}
